body {

	font-family: sans-serif;
	font-size: 1.1em;
	color: white;
	background-image: url(SpaceUprising.jpg);
	/*Pic ref:
	 https://grist.org/article/7-sci-fi-stories-that-imagine-a-better-world/ */
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-color: black;

}

.bc {background-color: rgb(245,245,245, 0.8);
	}

.calign { text-align: center; }